@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  box-sizing: border-box;
  background-color: rgb(249, 247, 233);
  font-family: "Poppins", sans-serif;
}

button {
  transition: transform 0.3s ease;
}

button:hover {
  transform: scale(1.1);
}

.hover-underline-offset:hover {
  text-decoration: underline 4px;
  text-decoration-color: rgb(119, 138, 171);
  text-underline-offset: 8px;
}

/* h1 {
  font-size: 30px;
  font-weight: bold;
  padding: 10px;
}

h3 {
  font-size: 20px;
  font-weight: 600;
} */

hr {
  width: 90%;
  margin: 10px 0px;
}
